#source-text, .output {
	font-family: 'Consolas', monospace
}

#source-text {
	width: inherit;
	height: 720px;
	margin: 10px 0;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.output {
	height: 700px;
	margin: 15px 0;
	padding: 10px;
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 4px;
	overflow: scroll;
}

#output-tabs {
	margin-bottom: 0;
}

.tab-content {
	margin-top: 0;
}
.tab-content .output {
	margin-top: 0;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}