!!!
%html
	%head
		%title Compiler Visualiser
		%link{href: "/styles/bootstrap.min.css", rel: "stylesheet"}
		%link{href: "/styles/site.css", rel: "stylesheet"}
	%body
		.container-fluid
			.row-fluid
				.span12
					%h1 Compiler Visualiser
			.row-fluid
				.span6
					%h2 Source
					.btn-group
						%button#test-btn.btn.dropdown-toggle{data-toggle: "dropdown"}
							Load Test
							%span.caret
						%ul#test-dropdown.dropdown-menu
							%li
								%a{href: "#"} Sample
						%button#compile-btn.btn.btn-primary Compile
					#source-text
				.span6
					%h2 Output
					%ul#output-tabs.nav.nav-tabs
						%li
							%a{href: "#lexer"} Lex
						%li
							%a{href: "#parser"} Parse
						%li
							%a{href: "#parserAnnot"} Parse (A)	
						%li.active
							%a{href: "#llvm"} LLVM
						%li
							%a{href: "#asm"} Asm
						%li
							%a{href: "#exe"} Exe
						%li
							%a{href: "#cfg"} Cfg
						%li
							%a{href: "#dom"} Dom
						%li
							%a{href: "#reg"} Reg
						%li
							%a{href: "#cg"} CG
					.tab-content
						#lexer.tab-pane
							%pre#lexer-output.output
						#parser.tab-pane
							%pre#parser-output.output
						#parserAnnot.tab-pane
							%pre#parserAnnot-output.output
						#llvm.tab-pane.active
							%pre#llvm-output.output
						#asm.tab-pane
							%pre#asm-output.output
						#exe.tab-pane
							%pre#exe-output.output
						#cfg.tab-pane
							.output
						#dom.tab-pane
							.output
						#reg.tab-pane
							.output
						#cg.tab-pane
							.output

		%script{src: "/scripts/jquery-1.7.1.js"}
		%script{src: "/scripts/bootstrap.js"}
		%script{src: "/scripts/ace.js"}
		%script{src: "/scripts/site.js"}