<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span12'>
            <h1>Compiler Visualiser</h1>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6'>
            <h2>Source</h2>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle='dropdown' href='#'>
                    Load Test <span class='caret'></span>
                </button>
                <ul class='dropdown-menu'>
                    <li><a href='#'>Sample</a></li>
                </ul>
                <button class="btn btn-primary">Compile</button>
            </div>
            <textarea id='source-text'></textarea>
        </div>
        <div class='span6'>
            <h2>Output</h2>
            <ul class='nav nav-tabs' id='output-tabs'>
                <li><a href='#lexer'>Lexer</a></li>
                <li><a href='#parser'>Parser</a></li>
                <li class='active'><a href='#llvm'>LLVM</a></li>
                <li><a href='#asm'>Assembly</a></li>
            </ul>
            
            <div class='tab-content'>
                <div class='tab-pane' id='lexer'>
                    <div class='output' id='lexer-output'></div>
                </div>
                <div class='tab-pane' id='parser'>
                    <div class='output' id='parser-output'></div>
                </div>
                <div class='tab-pane active' id='llvm'>
                    <div class='output' id='llvm-output'></div>
                </div>
                <div class='tab-pane' id='asm'>
                    <div class='output' id='asm-output'></div>
                </div>
            </div>
            
        </div>
    </div>
</div>